html {
  scroll-behavior: smooth;
 }

body {
  background: linear-gradient( rgba(0,0,0,0.6), rgba(0, 0, 0, 0.9) ), url('/static//images/divingGirl2.jpg') no-repeat center center fixed;
  /* filter: drop-shadow(16px 16px 20px rgb(93, 96, 126)); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Audiowide', cursive;
}

#flag {
  filter: grayscale(55%)
}


/* 60% */
.bg-main {
  background: #02101D;
  /* background: #501602; */
}
.text-main {
  color: #02101D;
  /* color: #501602; */
}
.border-height-main {
  border-width: 1px;
  border-style: solid;
  border-top-color: #02101D;
  border-bottom-color: #02101D;
  border-left-color: transparent;
  border-right-color: transparent;
  /* color: #501602; */
}
.border-bottom-main {
  border-width: 2px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: #02101D;
  border-left-color: transparent;
  border-right-color: transparent;
}
.border-top-main {
  border-width: 2px;
  border-style: solid;
  border-top-color: #02101D;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* 30% MIDI */
.bg-midi{
  background: #E7C401;
}
.text-midi {
  color: #E7C401;
}
.border-full-midi {
  border-width: 1px;
  border-style: solid;
  border-top-color: #E7C401;
  border-bottom-color: #E7C401;
  border-left-color: #E7C401;
  border-right-color: #E7C401;
}
.border-height-midi {
  border-width: 2px;
  border-style: solid;
  border-top-color: #E7C401;
  border-bottom-color: #E7C401;
  border-left-color: transparent;
  border-right-color: transparent;
}
.border-bottom-midi {
  border-width: 2px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: #E7C401;
  border-left-color: transparent;
  border-right-color: transparent;
}
.border-top-midi {
  border-width: 2px;
  border-style: solid;
  border-top-color: #E7C401;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* 10% */
.bg-low{
  background: white;
}
.text-low {
  color: white;
}
.border-height-low {
  border-width: 2px;
  border-style: solid;
  border-top-color: white;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
}
.border-bottom-low {
  border-width: 2px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
}
