<!doctype html>
<html lang="en">
  <head>
    <title>ProinelDive</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <!-- font -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
    </style>

    <!-- body style -->
    <link rel="stylesheet" href="/static/style.css" class="stylesheet">
  
  </head>
  <body class="d-flex flex-column min-vh-100">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-main fixed-top">
      <div class="container-fluid" style="margin-left: 1rem; margin-right: 1rem;">
       <a class="navbar-brand text-warning p-2" href="/"><b><i><h3>ProinelDive</h3></i></b></a>
       <button class="navbar-toggler text-light border-1 p-0 border-transparent" style="margin-bottom: 2%;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="btn bg-transparent text-warning"><i>MENU</i></span>
         <!-- <span class="navbar-toggler-icon"></span> -->
       </button>
        <div class="collapse navbar-collapse nav-tabs border-bottom-midi border-1 text-center" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light" href="/"><i>Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active bg-transparent border-1 border-warning" href="/courses"><i>Kursy</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/services"><i>Serwis</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/shops"><i>Sklep</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/contact"><i>Kontakt</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/diverstoolbox"><i>Diver's toolbox</i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class=" border-1  bg-transparent text-light" style="margin-top:1rem;">
      <div class="bg-main card-body ">
        <div class="countainer text-right text-warning" style="margin-bottom:0rem;">

          <div class="row text-center">
            
            <!-- <div class="col-sm"></div> -->

            <div class="col-sm">
              <div class="card-body bg-transparent" style="margin-top: 2rem;">
                <a href="https://www.psai.com">
                  <img class="card-img-top" src="/static/logos/PSA.png" alt="Card image cap" style="width: 7rem;">
                </a>
              </div>
            </div>

            <div class="col-sm">
              <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm" style="margin-top: 4rem;">
                  <h1 class="card-text border-bottom border-warning text-light text-center"><b><b><i>Centrum Nurkowe</i></b></b></h1>
                </div>

                <div class="col-sm-2"></div>
              </div>

              <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-2">
                  <h4 class="card-text text-warning text-center"><b><i>ProinelDive</i></b></h4>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>

            <div class="col-sm-1"></div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <div class="container"style="margin-top: 7rem; margin-bottom: 3rem;"> -->
        <!-- <div class="card-body bg-transparent border-bottom border-warning text-center text-warning" style="margin-top: 7rem; margin-bottom: 3rem;">
          <h3><i>KURSY</i></h3>
        </div> -->
      <!-- </div>
    </div> -->

<!-- course try -->
    <div class="row" style="margin: 1%; margin-top: 8rem;">
      <div class="col-sm-4">
        <a href="/tryDive" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-main text-midi border-full-midi border-2">
            <b class="p-1"><i>SPRÓBUJ NURKOWANIA</i></b>
            <img class="card-img-top" src="/static/images/intro.jpg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>DIVING INTRO</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-height-midi p-0" style="margin-bottom: 1rem;">
            <b><i class="text-midi" style="font-size: 1.8rem;">Spróbuj nurkowania</i></b>
          </div>
          <h4><i class="text-info">Diving intro</i></h4>
          <p><i class="text-low">'Spróbuj nurkowania' to opcja umożliwiająca zanurkowanie w wodach basenopodobnych lub otwartych wraz z instruktorem, skierowana do osób chcących spróbować swoich sił pod wodą. Podczas nurkowego intro zapoznasz się ze sprzętem nurkowym jak i zaznajomisz z procedurami odbywającymi się podczas odprawy przed i podnurkowej a także doświadczysz wspaniałego podwodnego świata.</i></p>
            <a href="/tryDive">
              <button class="btn bg-midi"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i class="text-low"><b class="text-info">CENA:</b> 250,-</i></p>
              <p><i class="text-low"><b class="text-info">POZIOM:</b> brak</i></p>
              <p><i class="text-low"><b class="text-info">WYMAGANIA:</b> brak</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-bottom-midi p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course owsd -->
    <div class="row" style="margin: 1%; margin-top: 8rem;">
      <div class="col-sm-4">
        <a href="/owsd" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-main text-midi border-full-midi border-2">
            <b class="p-1"><i>KURS PODSTAWOWY</i></b>
            <img class="card-img-top" src="/static/images/intro.jpg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>OPEN WATER SPORT DIVER</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-height-midi p-0" style="margin-bottom: 1rem;">
            <b><i class="text-midi" style="font-size: 1.8rem;">Kurs podstawowy</i></b>
          </div>
          <h4><i class="text-info">Open Water Sport Diver</i></h4>
          <p><i class="text-low">Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/owsd">
              <button class="btn bg-midi"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i class="text-low"><b class="text-info">CENA:</b> 2000,-</i></p>
              <p><i class="text-low"><b class="text-info">POZIOM:</b> brak</i></p>
              <p><i class="text-low"><b class="text-info">WYMAGANIA:</b> brak</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course silver -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/silver" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>PSAI ADVANCED SILVER</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>AOWSD LVL. 1</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">PSAI Advance Open Water Sport Diver SILVER</i>
          </div>
          <h4><i class="text-info">AOWSD PSAI - Silver (level 1).</i></h4>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/silver">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 1500,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> OWSD (kurs podst.)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> łącznie 4 specjalizacje (w tym 'nawigacja podwodna' oraz 'nurkowanie nocne / w ograniczonej widoczności')</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course gold -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/gold" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>PSAI ADVANCED GOLD</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>AOWSD LVL. 2</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">PSAI Advance Open Water Sport Diver GOLD</i>
          </div>
          <h4><i class="text-info">AOWSD PSAI - Gold (level 2).</i></h4>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/gold">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 1500,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> AOWSD SILVER (poz. 1)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> łącznie 7 specjalizacji</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course platinum -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/platinum" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>PSAI ADVANCED PLATINUM</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>MASTER DIVER AOWSD LVL. 3</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">PSAI Advance Open Water Sport Diver PLATINUM</i>
          </div>
          <h4><i class="text-info">PSAI Master Diver (level PRESTIGE).</i></h4>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/platinum">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 1500,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> AOWSD GOLD (poz. 2)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> łącznie 10 specjalizacji</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course nocne / ogr. widoczność -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/night" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>NIGHT</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>LIMITED VISIBILITY</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Nurkowanie nocne / w ograniczonej widoczności</i>
          </div>
          <h4><i class="text-info">Night / Limited visibility</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/night">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 750,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> OWSD (kurs podst.)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> minimum 30 godzin pod wodą.</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course dry suit -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/dry" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>SUCHY SKAFANDER</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>DRY SUIT</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Nurkowanie w suchym skafandrze</i>
          </div>
          <h4><i class="text-info">Dry suit diver.</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/dry">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 750,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> OWSD (kurs podst.)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> brak</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course Sidemount diver -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/sidemount" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>SIDEMOUNT</i></b>
            <img class="card-img-top" src="/static/images/spec.jpg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>PSAI SM DIVER - ENTRY LEVEL</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Sidemount</i>
          </div>
          <h4><i class="text-info">Sidemount diver - entry level</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/sidemount">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 1300,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> OWSD (kurs podst.)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> OWSD (kurs podst.), minimum 50 godzin pod wodą.</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course ABC -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/abc" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>ADVANCE BUOYANCY CONTROL</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>PSAI PROFESSIONAL ENTRY LEVEL</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Kurs zaawansowanej pływalności</i>
          </div>
          <h4><i class="text-info">Advanced Buoyancy Control (ABC).</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/abc">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 1300,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> OWSD (kurs podst.)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> Sidemount diver, minimum 50 godzin pod wodą w konfiguracji SM (Sidemount).</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course basic nitrox -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/bnitrox" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>NITROX</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>BASIC >> max 34% O<sub>2</sub></i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Nitrox - wzbogacona mieszanka gazu</i>
          </div>
          <h4><i class="text-info">Basic nitrox (entry level >> max 34% O<sub>2</sub>).</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/bnitrox">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 500,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> OWSD (kurs podst.)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> minimum 30 godzin pod wodą.</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course wreck -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/wreck" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>WRECK</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>DIVER</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Nurkowanie wrakowe</i>
          </div>
          <h4><i class="text-info">Wreck diver.</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/wreck">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 1400,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> OWSD (kurs podst.)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> minimum 50 godzin pod wodą, nurkowanie w suchym skafandrze, kurs zaawansowanej pływalności.</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course RAPID -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/rapid" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>RESCUE DIVER</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>RAPID</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Nurek ratownik</i>
          </div>
          <h4><i class="text-info">Rescue diver RAPID.</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/rapid">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 2500,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> AOWSD Silver (advanced level 1)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> minimum 100 godzin pod wodą, kurs zaawansowanej pływalności.</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course podlodowe -->
    <div class="row" style="margin: 1%">
      <div class="col-sm-4">
        <a href="/underive" class="btn shadow p-0" style="margin: 5%;">
          <div class="card shadow bg-transparent text-warning border-warning">
            <b class="p-1"><i>UNDER ICE</i></b>
            <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
            <b class="p-1"><i>DIVER</i></b>
          </div>
        </a>
      </div>
      <div class="col-sm-5 text-center text-light">
        <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
          <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
            <i class="text-warning" style="font-size: 1.8rem;">Nurkowanie podlodowe</i>
          </div>
          <h4><i class="text-info">Under ice diver.</i></h4>
          <h5 class="text-warning text-muted"><i>>> SPECJALIZACJA <<</i></h5>
          <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
            <a href="/underice">
              <button class="btn btn-warning"><i>szczegóły -></i></button>
            </a>
        </div>
      </div>
      <div class="col-sm text-light" style="margin-top: 1rem;">
        <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm p-3" style="margin-top: 3rem;">
              <p><i><i class="text-info">CENA:</i> 1400,-</i></p>
              <p><i><i class="text-info">POZIOM:</i> AOWSD Silver (advanced level 1)</i></p>
              <p><i><i class="text-info">WYMAGANIA:</i> minimum 100 godzin pod wodą, nurkowanie w suchym skafandrze, kurs zaawansowanej pływalności, nurek ratownik RAPID.</i></p>
            </div>
            <!-- <div class="col-sm"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 5rem;"></div>
    </div>


    <div class="card-body bg-main ">
      <div class="row text-center" style="margin-top: 1%; margin-left: 3%; margin-right: 1%">

        <!-- <div class="col-sm-1"></div> -->
        <div class="row text-center">
          <div class="col-sm">
            <div class="card-body bg-transparent p-0">
              <div class="card-body bg-transparent text-center text-warning border-bottom border-top border-warning p-0">
                <i>Kontakt</i>
              </div>
              <div class="card-body text-light text-center p-0" style="margin-top: 10%; margin-bottom: 10%;">
                <div class="text-light">
                  <p class="lead mb-0"><b><i>RYSZARD ROKITA</i></b></p>
                  <p class="lead mb-0"><i>kom.: 602 231 666</i></p>
                  <p class="lead mb-0"><i>e-mail: rrrokita@gmail.com</i></p>
                </div>
                <div style="height: 50px"></div>
                <div class="text-warning">
                    <p class="lead mb-0"><b><i>CENTRUM NURKOWE - SERWIS - SKLEP</i></b></p>
                    <p class="lead mb-0"><i>ul. Śląska 15 / lokal 9</i></p>
                    <p class="lead mb-0"><i>Bydgoszcz</i></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-body bg-transparent p-0">
              <div class="card-body bg-transparent text-center text-warning border-bottom border-top border-warning p-0">
                <i>Rezerwacja kursu</i>
              </div>
              <div class="card-body text-light text-center p-0" style="margin-top: 3%;">
                <p><i class="text-warning">Potwierdzeniem wzięcia udziału w kursie nurkowym jest wpłata na
                  rachunek konta bankowego:</i> Minimum 50% wartości ceny kursu, najpóźniej
                  na 7 dni przed rozpoczęciem zajęć teoretycznych.
                  Pozostałą wartość należy uregulować – dokonując również wpłaty na
                  rachunek konta bankowego, najpóźniej w dniu rozpoczęcia kursu wysyłając
                  potwierdzenie wpłaty oraz dane do Faktury VAT na adres e-mail:
                  ryszard@proinel.pl
                  W tytule przelewu prosimy dopisać który kurs oraz Imię i Nazwisko
                  kursanta.</p>
                <p><i>PROINEL SUCHECKI ROKITA SPÓŁKA JAWNA</i></p>
                <p><i>03-842 WARSZAWA</i></p>
                <p><i>ul. Grochowska 301/305</i></p>
                <p style="margin:3%;"><i>Nr rachunku konta bankowego: <p class="text-warning">90 1140 2004 0000 3202 7677 4759</p></i></p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-1"></div> -->

      </div>
    </div>
    
    <footer class="bg-main footer  small text-center text-midi fixed-bottom">
      <div class="card-body bg-transparent px-4 px-lg-5">
        <img src="/static/logos/diversflag.jpg" alt="" style="width: 2rem;">
        <i>&copy; ProinelDive 2022 ~ by D. J.</i>
        <img src="/static/logos/diversflag2.png" alt="" style="width: 2rem;">
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>