<!doctype html>
<html lang="en">
  <head>
    <title>ProinelDive</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <!-- font -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
    </style>

    <!-- body style -->
    <link rel="stylesheet" href="/static/style.css" class="stylesheet">
  
  </head>
  <body class="d-flex flex-column min-vh-100">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
      <div class="container-fluid" style="margin-left: 1rem; margin-right: 1rem;">
       <a class="navbar-brand text-warning p-2" href="/"><b><i><h3>ProinelDive</h3></i></b></a>
       <button class="navbar-toggler text-light border-1 p-0 border-transparent" style="margin-bottom: 2%;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="btn bg-transparent text-warning"><i>MENU</i></span>
         <!-- <span class="navbar-toggler-icon"></span> -->
       </button>
        <div class="collapse navbar-collapse nav-tabs border-warning text-center" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light" href="/"><i>Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light active bg-transparent border-1 border-warning" href="/courses"><i>Kursy</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/services"><i>Serwis</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/shops"><i>Sklep</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/contact"><i>Kontakt</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/diverstoolbox"><i>Diver's toolbox</i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->

    <div class="container">
      <div class="container"style="margin-top: 7rem; margin-bottom: 3rem;">
        <!-- <div class="card-body bg-transparent border-bottom border-warning text-center text-warning" style="margin-top: 7rem; margin-bottom: 3rem;">
          <h3><i>KURSY</i></h3>
        </div> -->
      </div>
    </div>

<!-- course -->
<div class="row" style="margin: 1%">
  <div class="col-sm-4">
    <a href="/tryDive" class="btn shadow p-0" style="margin: 5%;">
      <div class="card shadow bg-transparent text-warning border-warning">
        <b class="p-1"><i>SPRÓBUJ NURKOWANIA</i></b>
        <img class="card-img-top" src="/static/images/intro.jpg" alt="Card image cap" style="max-width: 25rem;">
      </div>
    </a>
  </div>
  <div class="col-sm-5 text-center text-light">
    <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
      <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
        <h3 class="text-warning"><i>Spróbuj nurkowania</i></h3>
      </div>
      <p><i>'Spróbuj nurkowania' to opcja umożliwiająca zanurkowanie w wodach basenopodobnych lub otwartych wraz z instruktorem, skierowana do osób chcących spróbować swoich sił pod wodą. Podczas nurkowego intro zapoznasz się ze sprzętem nurkowym jak i zaznajomisz z procedurami odbywającymi się podczas odprawy przed i podnurkowej a także doświadczysz wspaniałego podwodnego świata.</i></p>
        <a href="/tryDive">
          <button class="btn btn-warning"><i>szczegóły -></i></button>
        </a>
    </div>
  </div>
  <div class="col-sm text-light" style="margin-top: 1rem;">
    <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm p-3" style="margin-top: 3rem;">
          <p><i><i class="text-info">CENA:</i> 250,-</i></p>
          <p><i><i class="text-info">WYMAGANIA:</i> brak</i></p>
          <p><i><i class="text-info">POZIOM:</i> brak</i></p>
        </div>
        <!-- <div class="col-sm"></div> -->
      </div>
    </div>
  </div>
</div>

    <div class="container">
      <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
    </div>

<!-- course -->
<div class="row" style="margin: 1%">
  <div class="col-sm-4">
    <a href="/owsd" class="btn shadow p-0" style="margin: 5%;">
      <div class="card shadow bg-transparent text-warning border-warning">
        <b class="p-1"><i>KURS PODSTAWOWY</i></b>
        <img class="card-img-top" src="/static/images/cenote.jpeg" alt="Card image cap" style="max-width: 25rem;">
      </div>
    </a>
  </div>
  <div class="col-sm-5 text-center text-light">
    <div class="card-body bg-transparent  border-warning p-2" style="margin-top: 3rem;">
      <div class="card-body bg-transparent border-top border-bottom border-warning p-0" style="margin-bottom: 1rem;">
        <h3 class="text-warning"><i>Kurs podstawowy</i></h3>
      </div>
      <p><i>Kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata. W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują się pewnie, by nurkować np. w polskich akwenach...</i></p>
        <a href="/owsd">
          <button class="btn btn-warning"><i>szczegóły -></i></button>
        </a>
    </div>
  </div>
  <div class="col-sm text-light" style="margin-top: 1rem;">
    <div class="card-body bg-transparent  p-0" style="margin-bottom: 1rem;">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm p-3" style="margin-top: 3rem;">
          <p><i><i class="text-info">CENA:</i> 2000,-</i></p>
          <p><i><i class="text-info">WYMAGANIA:</i> brak</i></p>
          <p><i><i class="text-info">POZIOM:</i> brak</i></p>
        </div>
        <!-- <div class="col-sm"></div> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-body bg-transparent border-top border-warning p-1" style="margin-bottom: 1rem;"></div>
</div>


<!-- old content -->
    <div class="card-body" style="margin-top: 5rem;">
      <div class="container">
        <div class="card shadow bg-transparent border-1 border-dark">
          <div class=" shadow text-center text-light p-3">
            <div class="shadow bg-transparent " style="margin: 15px;">
              <div class="shadow p-3">
                <h3><b><i>KURSY</i></b></h3>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/intro.jpg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>SPRÓBUJ NURKOWANIA</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Spróbuj nurkowania (Diving intro).</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/owsd.jpg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/owsd">
                                  <h5 class="card-title p-1 text-warning"><i>KURS PODSTAWOWY</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Kurs podstawowy OPEN WATER SPORT DIVER</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/owsd.jpg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/owsd">
                                  <h5 class="card-title p-1 text-warning"><i>PSAI AOWD SILVER</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Advanced Open Water Diver PSAI - SILVER (LEVEL 1).</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/owsd.jpg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/owsd">
                                  <h5 class="card-title p-1 text-warning"><i>PSAI AOWD GOLD</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Advanced Open Water Diver PSAI - GOLD (LEVEL 2).</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/owsd.jpg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/owsd">
                                  <h5 class="card-title p-1 text-warning"><i>PSAI AOWD PLATINUM</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Master Diver PSAI - PLATINUM (LEVEL 3).</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shadow bg-transparent " style="margin: 15px;">
              <div class="shadow p-3">
                <h4><b><i>SPECJALIZACJE NURKOWE</i></b></h4>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/spec.jpg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>PSAI ADVANCED BUOYANCY CONTROL</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Kurs zaawansowanej pływalności (Advance Buoyancy Control).</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>BASIC OPEN WATER SIDEMOUNT DIVER</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Basic Open Water Sidemount Diver</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>BASIC NITROX</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Kurs podstawowego użytkowania mieszanki gazowej typu nitrox do 34% zawartości tlenu.</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>ADVANCED NITROX</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Kurs zaawansowanego użytkowania mieszanki gazowej typu nitrox.</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>NIGHT & LIMITED VISIBILITY</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Nurkowanie nocne oraz w złej widoczności.</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>DRY SUIT</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Nurkowanie w suchych skafandrach.</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>ICE DIVER</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Nurkowanie podlodowe.</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>NUREK RATOWNIK</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Kurs na nurka ratownika (Rescue diver).</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- table -->
            <div class="shadow">
              <div class="card bg-transparent text-light shadow my-5">
                <div class="card-body mx-auto text-center text-light p-0">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="shadow">
                        <div class="shadow">
                          <div class="shadow">
                            <div class="shadow">
                              <img class="card-img-top" src="static/images/cenote.jpeg" alt="Card image cap">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9 text-center p-0">
                      <div class="container text-center p-3">
                        <div class="container">
                            <div class="shadow">
                              <div class="shadow">
                                <a class="container btn shadow text-center bg-transparent" href="/tryDive">
                                  <h5 class="card-title p-1 text-warning"><i>WRECK DIVER</i></h5>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="container p-3">
                          <p class="card-text"><i>Nurkowanie na wrakach.</i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <footer class="footer bg-dark small text-center text-warning fixed-bottom"><div class="container px-4 px-lg-5 p-1"><i>&copy; ProinelDive 2022 ~ D. Jeździkowski</i></div></footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>