<!doctype html>
<html lang="en">
  <head>
    <title>ProinelDive</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <!-- font -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
    </style>

    <!-- body style -->
    <link rel="stylesheet" href="/static/style.css" class="stylesheet">
  
  </head>

  <body class="d-flex flex-column min-vh-100">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-main fixed-top">
      <div class="container-fluid" style="margin-left: 1rem; margin-right: 1rem;">
       <a class="navbar-brand text-warning p-2" href="/"><b><i><h3>ProinelDive</h3></i></b></a>
       <button class="navbar-toggler text-light border-1 p-0 border-transparent" style="margin-bottom: 2%;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="btn bg-transparent text-warning"><i>MENU</i></span>
         <!-- <span class="navbar-toggler-icon"></span> -->
       </button>
        <div class="collapse navbar-collapse nav-tabs border-warning text-center" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light" href="/"><i>Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/courses"><i>Kursy</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/services"><i>Serwis</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/shops"><i>Sklep</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/contact"><i>Kontakt</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning active bg-transparent border-1 border-warning" href="/diverstoolbox"><i>Diver's toolbox</i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class=" border-1  bg-transparent text-light" style="margin-top:1rem;">
      <div class="bg-main card-body ">
        <div class="countainer text-right text-warning" style="margin-bottom:0rem;">

          <div class="row text-center">
            
            <!-- <div class="col-sm"></div> -->

            <div class="col-sm">
              <div class="card-body bg-transparent" style="margin-top: 2rem;">
                <a href="https://www.psai.com">
                  <img class="card-img-top" src="/static/logos/PSA.png" alt="Card image cap" style="width: 7rem;">
                </a>
              </div>
            </div>

            <div class="col-sm">
              <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm" style="margin-top: 4rem;">
                  <h1 class="card-text border-bottom border-warning text-light text-center"><b><b><i>Centrum Nurkowe</i></b></b></h1>
                </div>

                <div class="col-sm-2"></div>
              </div>

              <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-2">
                  <h4 class="card-text text-warning text-center"><b><i>ProinelDive</i></b></h4>
                </div>
                <div class="col-sm"></div>
              </div>
            </div>

            <div class="col-sm-1"></div>

          </div>
        </div>
      </div>
    </div>

    <!-- TABLE -->
    <div class="card-body" style="margin-top: 5rem;">
      <div class="container ">
        <div class="shadow">
          <div class="card border-1 border-dark bg-transparent text-light shadow p-4">
            <div class="row">
              <div class="col-sm-max">
                <div class="container p-1">
                  <div class="shadow">
                    <div class="card bg-transparent border-1 border-dark ">
                      <div class="shadow text-light p-3 text-center">
                        <p><i><h3><b>PSAI ADVANCED DIVER PATH</b></h3></i></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- career -->
            <div class="row">
              <div class="col-sm-8">
                <div class="row">
                  <!-- lvl-1 -->
                  <div class="col-sm-max">
                    <div class="container p-1">
                      <div class="shadow">
                        <div class="card bg-transparent border-1 border-dark ">
                          <div class="shadow text-light p-3 text-center">
                            <!-- info -->
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="container text-center text-light">
                                  <div style="margin-top: 50%">
                                    <p><i><h3><b>Advanced SILVER</b></h3></i></p>
                                    <p><i>(poziom I / do 30m.)</i></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="container text-center text-light">
                                  <p><i>WYMAGANE:</i></p>
                                  <a href="/owsd" class="btn shadow p-0">
                                    <div class="shadow">
                                      <div class="shadow p-2 text-warning">
                                        <p><i><h5>Kurs podstawowy</h5></i></p>
                                        <p><i><h5>Open Water Sport Diver (OWSD)</h5></i></p>
                                      </div>
                                    </div>
                                  </a>
                                  <p><i>+ łącznie 4 specjalizacje, w tym:</i></p>
                                  <div class="row text-center">
                                    <div class="col-sm-max">
                                      
                                        <a href="/navigation" class="btn shadow p-0" style="margin-bottom: 10%">
                                          <div class=" shadow">
                                            <div class="container shadow p-2 text-light">
                                              <p>
                                                <i>
                                                  <div class="container text-warning">
                                                    Nawigacja podwodna
                                                  </div>
                                                </i>
                                              </p>
                                            </div>
                                          </div>
                                        </a>

                                    </div>
                                    <div class="col-sm-max">
                                      <div class="">
                                        <div class="shadow">
                                          <div class="shadow">
                                            <a href="/night" class="btn shadow p-0">
                                              <div class="container p-0 text-light">
                                                <p>
                                                  <i>
                                                    <div class="container text-warning">
                                                      Nurkowanie nocne / w ograniczonej widoczności
                                                    </div>
                                                  </i>
                                                </p>
                                              </div>
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- lvl-2 -->
                  <div class="col-sm-max">
                    <div class="container p-1">
                      <div class="shadow">
                        <div class="card bg-transparent border-1 border-dark ">
                          <div class="shadow text-light p-3 text-center">
                            <!-- info -->
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="container text-center text-light">
                                  <div style="margin-top: 9%">
                                    <p><i><h3><b>Advanced GOLD</b></h3></i></p>
                                    <p><i>(poziom II / do 45m.)</i></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="container text-center text-light">
                                  <p><i>WYMAGANE:</i></p>
                                  <a href="/silver" class="btn shadow p-0">
                                    <div class="shadow">
                                      <div class="shadow p-2 text-warning">
                                        <p><i><h5>Advanced SILVER (poz. I)</h5></i></p>
                                      </div>
                                    </div>
                                  </a>
                                  <p><i>+ łącznie 7 specjalizacji</i></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- lvl-3 -->
                  <div class="col-sm-max">
                    <div class="container p-1">
                      <div class="shadow">
                        <div class="card bg-transparent border-1 border-dark ">
                          <div class="shadow text-light p-3 text-center">
                            <!-- info -->
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="container text-center text-light">
                                  <div>
                                    <p><i><h3><b>MASTER DIVER</b></h3></i></p>
                                    <p><i><h5>Advanced PLATINUM</h5></i></p>
                                    <p><i>(tytuł prestiżowy)</i></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="container text-center text-light">
                                  <p><i>WYMAGANE:</i></p>
                                  <a href="/gold" class="btn shadow p-0">
                                    <div class="shadow">
                                      <div class="shadow p-2 text-warning">
                                        <p><i><h5>Advanced GOLD (poz. II)</h5></i></p>
                                      </div>
                                    </div>
                                  </a>
                                  <p><i>+ łącznie 10 specjalizacji</i></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="container p-1">
                  <div class="shadow">
                    <div class="card bg-transparent border-1 border-dark ">
                      <div class="shadow text-light p-3 text-center">
                        <!-- butto with link -->
                        <div class="container">
                          <a href="/courses" class="btn shadow p-0" style="margin-bottom: 10%">
                            <div class="shadow">
                              <div class="container p-2 text-light ">
                                <p><i><h6>SPECJALIZACJE</h6></i></p>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="row mx-auto">
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <a href="/drysuit">
                              <div class="container p-1 btn">
                                <div class="shadow">
                                  <div class="card bg-transparent border-1 border-dark">
                                    <div class="shadow text-light p-1 text-center">
                                      <p class="text-warning"><i>Suchy skafander</i></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <a href="/nitrox">
                              <div class="container p-1 btn">
                                <div class="shadow">
                                  <div class="card bg-transparent border-1 border-dark ">
                                    <div class="shadow text-light p-1 text-center">
                                      <p class="text-warning"><i>Nitrox</i></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>Sidemount diver</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>Advanced buoyancy control</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>Wrakowo morski</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>Podlodowe</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>DPV diver</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>Nurek ratownik - RAPID</i></p>
                                    <p><i>(wymagany SILVER diver)</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>Deep diver</i></p>
                                    <p><i>(wymagany SILVER diver)</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- spec. -->
                          <div class="col-sm-max">
                            <div class="container p-1">
                              <div class="shadow">
                                <div class="card bg-transparent border-1 border-dark ">
                                  <div class="shadow text-light p-1 text-center">
                                    <p class="text-warning"><i>Advanced nitrox</i></p>
                                    <p><i>(wymagany SILVER diver + basic nitrox)</i></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Content -->
    <div class="card-body">
      <div class="container">
        <div class="shadow">
          <div class="card border-1 border-dark bg-transparent text-light shadow">
            <div class="container p-4">
              <div class="shadow">
                <div class="card bg-transparent  ">
                  <div class="shadow text-light p-3 text-center">
                    <p class="lead mb-0"><b><i><h3>KALKULATOR RMV</h3></i></b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0 mx-auto text-center">
              <div class="text-warning">
                <div class="container p-3">
                  <input class="form-control bg-transparent border-warning text-light text-center shadow" style="margin-top: 10%" id="param1" type="text" placeholder="cisnienie początkowe (bar)" aria-label="Disabled input example" enable>
                  <input class="form-control bg-transparent border-warning text-light text-center shadow" style="margin-top: 10%" id="param2" type="text" placeholder="ciśnienie końcowe (bar)" aria-label="Disabled input example" enable>
                  <input class="form-control bg-transparent border-warning text-light text-center shadow" style="margin-top: 10%" id="param3" type="text" placeholder="pojemość butli (litrach)" aria-label="Disabled input example" enable>
                  <input class="form-control bg-transparent border-warning text-light text-center shadow" style="margin-top: 10%" id="param4" type="text" placeholder="czas denny (min)" aria-label="Disabled input example" enable>
                  <input class="form-control bg-transparent border-warning text-light text-center shadow" style="margin-top: 10%" id="param5" type="text" placeholder="średnie ciśnienie (bar)" aria-label="Disabled input example" enable>
                </div>
                <div class="container p-2">
                  <button id="btn1" class="btn bg-transparent text-warning  border-warning shadow"><b>OBLICZ</b></button>
                </div>
              </div>
            </div>
            <div class="container p-3 text-center"> 
              <h3 id="sum" class="p-2 text-warning"></h3>
            </div>
          </div>
        </div>
        <div class="shadow">
          <div class="card border-1 border-dark bg-transparent text-light shadow my-5">
            <div class="container p-4">
              <div class="shadow">
                <div class="card bg-transparent  ">
                  <div class="shadow text-light p-3 text-center">
                    <p class="lead mb-0"><b><i><h3>TABELA NURKOWAŃ 'NO DECO'</h3></i></b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-5 mx-auto text-center">
                <div class="text-warning">
                  <img class="img-fluid" alt="Responsive image" src="...">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- blank space -->
    <div class="col-sm-max" style="margin-bottom: 5%"></div>
    <!-- end -->

    <div class="card-body bg-main ">
      <div class="row text-center" style="margin-top: 1%; margin-left: 3%; margin-right: 1%">

        <!-- <div class="col-sm-1"></div> -->
        <div class="row text-center">
          <div class="col-sm">
            <div class="card-body bg-transparent p-0">
              <div class="card-body bg-transparent text-center text-warning border-bottom border-top border-warning p-0">
                <i>Kontakt</i>
              </div>
              <div class="card-body text-light text-center p-0" style="margin-top: 10%; margin-bottom: 10%;">
                <div class="text-light">
                  <p class="lead mb-0"><b><i>RYSZARD ROKITA</i></b></p>
                  <p class="lead mb-0"><i>kom.: 602 231 666</i></p>
                  <p class="lead mb-0"><i>e-mail: rrrokita@gmail.com</i></p>
                </div>
                <div style="height: 50px"></div>
                <div class="text-warning">
                    <p class="lead mb-0"><b><i>CENTRUM NURKOWE - SERWIS - SKLEP</i></b></p>
                    <p class="lead mb-0"><i>ul. Śląska 15 / lokal 9</i></p>
                    <p class="lead mb-0"><i>Bydgoszcz</i></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-body bg-transparent p-0">
              <div class="card-body bg-transparent text-center text-warning border-bottom border-top border-warning p-0">
                <i>Rezerwacja kursu</i>
              </div>
              <div class="card-body text-light text-center p-0" style="margin-top: 3%;">
                <p><i class="text-warning">Potwierdzeniem wzięcia udziału w kursie nurkowym jest wpłata na
                  rachunek konta bankowego:</i> Minimum 50% wartości ceny kursu, najpóźniej
                  na 7 dni przed rozpoczęciem zajęć teoretycznych.
                  Pozostałą wartość należy uregulować – dokonując również wpłaty na
                  rachunek konta bankowego, najpóźniej w dniu rozpoczęcia kursu wysyłając
                  potwierdzenie wpłaty oraz dane do Faktury VAT na adres e-mail:
                  ryszard@proinel.pl
                  W tytule przelewu prosimy dopisać który kurs oraz Imię i Nazwisko
                  kursanta.</p>
                <p><i>PROINEL SUCHECKI ROKITA SPÓŁKA JAWNA</i></p>
                <p><i>03-842 WARSZAWA</i></p>
                <p><i>ul. Grochowska 301/305</i></p>
                <p style="margin:3%;"><i>Nr rachunku konta bankowego: <p class="text-warning">90 1140 2004 0000 3202 7677 4759</p></i></p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-1"></div> -->

      </div>
    </div>
    
    <footer class="bg-main footer  small text-center text-warning fixed-bottom"><div class="container px-4 px-lg-5 p-1"><i>&copy; ProinelDive 2022 ~ D. Jeździkowski</i></div></footer>
<!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- js files connector -->    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', path='any.js')}}"></script>
  </body>
</html>