<!doctype html>
<html lang="en">
  <head>
    <title>ProinelDive</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel-rtl/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- font -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
    </style>

    <!-- body style -->
    <link rel="stylesheet" href="/static/style.css" class="stylesheet">

  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-transparent" style="margin-left:4%; margin-right:4%; margin-top:2%">
      <!-- <div class="container"> -->
        <a class="navbar-brand text-warning p-0" href="/"><b><i><h3>ProinelDive</h3></i></b></a>
        <button class="navbar-toggler text-light border-1 p-0 border-transparent shadow" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="btn bg-transparent text-warning my-0"><i>MENU</i></span>
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="collapse navbar-collapse nav-tabs border-warning text-center" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light active bg-transparent border-1 border-warning" href="/home"><i>Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/courses"><i>Kursy</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/services"><i>Serwis</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/shops"><i>Sklep</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/contact"><i>Kontakt</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/diverstoolbox"><i>Diver's toolbox</i></a>
            </li>
          </ul>
        </div>
      <!-- </div> -->
    </nav>

    <!-- Page Content -->
    
    <!-- <div class="card-body bg-transparent"> -->
          <div class=" border-1  bg-transparent text-light">
            <div class="card-body bg-transparent" style="margin-top: 5%">
              <div class="countainer text-right text-warning">
                <!-- <div class="container"> -->
                  <!-- title -->
                  <div class="row">
                    <div class="col-sm">
                      
                    </div>
                    <div class="col-sm-4">
                      <h1 class="card-text border-bottom border-warning text-light text-center"><b><b><i>Centrum Nurkowe</i></b></b></h1>
                    </div>
                    <div class="col-sm text-right">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      
                    </div>
                    <div class="col-sm-2">
                      <h4 class="card-text text-warning text-center"><b><i>Ryszard Rokita</i></b></h4>
                    </div>
                    <div class="col-sm text-right">
                    </div>
                  </div>
                  <!-- end -->
                <!-- </div> -->
              </div>
            </div>

            <!-- blank space -->
            <div class="col-sm-max" style="margin-bottom: 5%"></div>
            <!-- end -->

            <div class="container">
                <div class="row ">
                    <!-- plates -->
                    <div class="col-sm-8 p-2">
                        <a href="/courses" class="btn shadow p-0">
                        <div class="card shadow bg-transparent text-warning border-warning">
                            <img class="card-img-top" src="/static/images/divingGirl.jpg" alt="Card image cap">
                            <div class=" ">
                            <p class="card-text p-1"><h4><b><i>Kursy</i></b></h4></p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-max p-2">
                                <a href="/services" class="btn shadow p-0">
                                <div class="card shadow bg-transparent text-warning border-warning">
                                    
                                    <img class="card-img-top" src="/static/images/service.jpg" alt="Card image cap">
                                    <b class="p-1"><i>Serwis</i></b>
                                    <!-- <div class="">
                                    <p class="card-text"><h4><b><i>Serwis</i></b></h4></p>
                                    </div> -->
                                </div>
                                </a>
                            </div>
                            <div class="col-sm-max p-2">
                                <a href="/shops" class="btn shadow p-0">
                                <div class="card shadow bg-transparent text-warning border-warning">
                                    
                                    <img class="card-img-top" src="/static/images/shoop.jpg" alt="Card image cap">
                                    <b class="p-1"><i>Sklep</i></b>
                                    <!-- <div class="">
                                    <p class="card-text"><h4><b><i>Sklep</i></b></h4></p>
                                    </div> -->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- blank space -->
            <div class="col-sm-max" style="margin-bottom: 5%"></div>
            <!-- end -->

            <div class="container p-5">
              <div class="row">
                <div class="col-sm text-center">
                  <div class="card-body bg-transparent border-top border-bottom border-warning">
                    <b class="p-1 text-warning"><i>Pordęczny przybornik nurka - DIVER TOOLBOX</i></b>
                  </div>
                  <p class="card-text" style="margin-top: 5%;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aut, adipisci, minus libero tenetur odio officia asperiores quaerat maxime consequuntur iusto ratione nihil harum sed omnis, facilis similique atque! Aperiam?
                  </p>
                </div>
                <div class="col-sm text-center">
                  <a href="/diverstoolbox" class="btn shadow p-0">
                    <div class="card shadow bg-transparent text-warning border-warning">
                      <b class="p-1"><i>Diver toolbox</i></b>
                      <img class="card-img-top" src="/static/images/windowDiver.jpg" alt="Card image cap" style="max-height: 20rem;">
                    </div>
                  </a>
                </div>
                <!-- <div class="col-sm"></div> -->
              </div>
            </div>

            <!-- blank space -->
            <div class="col-sm-max" style="margin-bottom: 5%"></div>
            <!-- end -->

            <div class="card-body bg-transparent p-3">
              <div class="row p-5 text-center">
                
                <div class="col-sm text-center text-light p-1">
                  <div class="card-body bg-transparent text-light">
                    <div class="card-body border-bottom border-top border-warning bg-transparent">
                      <div class="text-warning"><i>PSAI ID: #2623</i></div>
                    </div>
                    <p class="card-text ">
                      <p><i>PSAI Advanced Nitrox Instructor</i></b></p>
                      <p><i>PSAI Advance Buoyance Controle Instructor</i></b></p>
                      <p><i>PSAI Nitrox Instructor</i></b></p>
                      <p><i>PSAI Sport Diving Instructor</i></b></p>
                      <p><i>PSAI Open Water Sidemount Instructor</i></b></p>
                      <p><i>PSAI Oxygen Service Technician Instructor</i></b></p>
                  </p>
                  </div>
                </div>

                <div class="col-sm p-1">
                  <div class="col-sm-max">
                    <a href="http://www.psai.pl/content/ryszard-rokita-2623" class="btn shadow p-0">
                      <div class="card shadow bg-transparent text-warning border-warning">
                          <img class="card-img-top" src="/static/images/rokita.jpg" alt="Card image cap" style="width: 15rem;">
                          <b class="p-1"><i>Ryszard Rokita</i></b>
                      </div>
                    </a>
                  </div>
                </div>
  
                <div class="col-sm text-center text-light p-1">
                  <div class="card-body bg-transparent text-light">
                    <div class="card-body border-bottom border-top border-warning bg-transparent">
                      <div class="text-warning"><i>O MNIE</i></div>
                    </div>
                    <p class="card-text" style="margin-top: 5%;">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aut, adipisci, minus libero tenetur odio officia asperiores quaerat maxime consequuntur iusto ratione nihil harum sed omnis, facilis similique atque! Aperiam?
                    </p>
                  </div>
                </div>

              </div>
            </div>

            <!-- blank space -->
            <div class="col-sm-max" style="margin-bottom: 5%"></div>
            <!-- end -->

            <div class="container text-center">
              <h2><i class="text-warning p-4">Okiem nurka</i></h2>
              <div class="card-body border-top border-bottom border-warning bg-transparent p-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="/static/images/divingGirl.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="/static/images/cenote.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="/static/images/windowDiver.jpg" alt="Third slide">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- blank space -->
            <div class="col-sm-max" style="margin-bottom: 5%"></div>
            <!-- end -->

            <!-- <div class="container p-0"> -->
              <div class="row">
                <div class="col-sm" style="margin: 5%">
                  <div class="card-body bg-transparent p-3">
                    <div class="card-body bg-transparent text-center text-warning border-bottom border-top border-warning">
                      <i>Rezerwacja kursu</i>
                    </div>
                    <div class="card-body text-light text-center">
                      <p><i>PROINEL SUCHECKI ROKITA SPÓŁKA JAWNA</i></p>
                      <p><i>03-842 WARSZAWA</i></p>
                      <p><i>ul. Grochowska 301/305</i></p>
                      <p style="margin:3%;"><i>Nr rachunku konta bankowego: <p class="text-warning">90 1140 2004 0000 3202 7677 4759</p></i></p>
                      <p><i class="text-warning">Potwierdzeniem wzięcia udziału w kursie nurkowym jest wpłata na
                        rachunek konta bankowego:</i> Minimum 50% wartości ceny kursu, najpóźniej
                        na 7 dni przed rozpoczęciem zajęć teoretycznych.
                        Pozostałą wartość należy uregulować – dokonując również wpłaty na
                        rachunek konta bankowego, najpóźniej w dniu rozpoczęcia kursu wysyłając
                        potwierdzenie wpłaty oraz dane do Faktury VAT na adres e-mail:
                        ryszard@proinel.pl
                        W tytule przelewu prosimy dopisać który kurs oraz Imię i Nazwisko
                        kursanta.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm" style="margin: 5%">
                  <div class="card-body bg-transparent p-3">
                    <div class="card-body bg-transparent text-center text-warning border-bottom border-top border-warning">
                      <i>Kontakt</i>
                    </div>
                    <div class="card-body text-light text-center">
                      <div class="text-light">
                        <p class="lead mb-0"><b><i>RYSZARD ROKITA</i></b></p>
                        <p class="lead mb-0"><i>kom.: 602 231 666</i></p>
                        <p class="lead mb-0"><i>e-mail: rrrokita@gmail.com</i></p>
                      </div>
                      <div style="height: 50px"></div>
                      <div class="text-warning">
                          <p class="lead mb-0"><b><i>CENTRUM NURKOWE - SERWIS - SKLEP</i></b></p>
                          <p class="lead mb-0"><i>ul. Śląska 15 / lokal 9</i></p>
                          <p class="lead mb-0"><i>Bydgoszcz</i></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>
    
    <footer class="footer bg-transparent small text-center text-white"><div class="container px-4 px-lg-5 p-4"><i>Copyright &copy; ProinelDive 2022 ~by Damian Jeździkowski</i></div></footer>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- js files connector -->    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', path='carousel.js')}}"></script>
  </body>
</html>