<!doctype html>
<html lang="en">
  <head>
    <title>ProinelDive</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <!-- font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
      </style>

    <!-- body style -->
    <link rel="stylesheet" href="/static/style.css" class="stylesheet">

</head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-main fixed-top">
        <div class="container-fluid" style="margin-left: 1rem; margin-right: 1rem;">
            <a class="navbar-brand text-warning p-2" href="/"><b><i><h3>ProinelDive</h3></i></b></a>
            <button class="navbar-toggler text-light border-1 p-0 border-transparent" style="margin-bottom: 2%;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="btn bg-transparent text-warning"><i>MENU</i></span>
            <!-- <span class="navbar-toggler-icon"></span> -->
            </button>
            <div class="collapse navbar-collapse nav-tabs border-warning text-center" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link text-light" href="/"><i>Home</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light active bg-transparent border-1 border-warning" href="/courses"><i>Kursy</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/services"><i>Serwis</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/shops"><i>Sklep</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/contact"><i>Kontakt</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-warning" href="/diverstoolbox"><i>Diver's toolbox</i></a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <!-- WELCOME PAGE -->
    <div class="card-body" style="margin-top: 8rem;">
        <!-- title -->
        <div class="row" style=" margin-bottom: 4rem;">
            <div class="col-sm-6"></div>
            <div class="col-sm">
                <div class="card-body text-midi bg-transparent border-height-midi text-center p-0">
                    <h1><b><i>Kurs podstawowy <img id="flag" src="/static/logos/diversflag.jpg" alt="" style="width: 4rem;"></i></b></h1>
                </div>
                <div class="card-body text-center text-midi p-0"><i>Open Water Sport Diver (OWSD)</i></div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <!-- main info -->
        <div class="row" style=" margin-bottom: 4rem;">
            <div class="col-sm-1"></div>
            <div class="col-sm card bg-main border-full-midi">
                <div class="card-body text-center" >
                    <i class="text-midi">Opis: </i>
                    <i class="text-center text-low">
                        kurs ten dedykowany jest dla osób, które nie miały jeszcze styczności z
                        nurkowaniem, a chciałyby poznać piękno oraz tajemnice podwodnego świata.
                        W kursie mogą uczestniczyć również osoby, które w trakcie swoich wakacji odbyły
                        już szkolenie w przejrzystych wodach, podziwiając piękno raf, ale nie do końca czują
                        się pewnie, by nurkować np. w polskich akwenach. Dzięki dodatkowym wykładom i
                        ćwiczeniom pod nadzorem instruktora możemy doszkolić się i utrwalić wcześniej
                        zdobyte umiejętności.
                        Dla osób niezdecydowanych proponujemy program „Spróbuj Nurkowania”, a dla
                        osób z długą przerwą w nurkowaniu polecamy „Zajęcia przypominająco -
                        doszkalające”.
                        Kurs podstawowy przekazuje uczestnikom wiedzę teoretyczną oraz umiejętności
                        praktyczne umożliwiając uczestnictwo w nurkowaniach rekreacyjnych bez nadzoru.
                        Uczy planowania, kierowania i przeprowadzania bezdekompresyjnego nurkowania w
                        wodach otwartych przy współuczestnictwie drugiego płetwonurka – partnera na
                        maksymalną głębokość do 20m. Jest to najpopularniejszy kurs nurkowania na
                        świecie.
                    </i>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <!-- video -->
        <div class="card-body text-center" style="margin-bottom: 3rem;">
            <div class="row">
                <div class="col-sm"></div>

                <div class="col-sm">
                    <div class="card border-full-midi">
                        <iframe class="embed-responsive-item text-center" src="https://www.youtube.com/embed/AVnLV6fVaIU" style="max-width: 50rem; height: 20rem;" allowfullscreen></iframe>
                    </div>
                    <!-- <iframe class="embed-responsive-item text-center" src="https://www.youtube.com/watch?v=CfkzTn1OrbE&t=211s" style="max-width: 35rem;" allowfullscreen></iframe> -->
                    <!-- <img src="/static/images/windowDiver.jpg" alt="" style="max-width: 35rem;"> -->
                </div>

                <div class="col-sm"></div>
            </div>
        </div>

        <!-- wymagania -->
        <div class="row" style="margin-bottom: 2rem;">
            <div class="col-sm-1"></div>

            <div class="col-sm">
                <div class="card-body bg-transparent border-height-midi border-1 text-center p-0" style="margin: 5rem; margin-top: 1rem; margin-bottom: 0rem;">
                    <i class="text-midi">Wymagania</i>
                </div>
                <div class="card-body text-center text-low p-3">
                    <div class="row">
                        <div class="col-sm">
                            <p><i><i class="text-midi">Dla nurka OWSD</i>, wiek co najmniej 15 lat (w chwili otrzymania certyfikatu)</i></p>
                            <p><i><i class="text-midi">Dla nurka Junior OWSD</i>, 10 lat (ukończone przed przystąpieniem do kursu)</i></p>
                            <p><i><i class="text-midi">W przypadku osób niepełnoletnich</i> wymagana jest pisemna zgoda rodziców lub opiekunów</i></p>
                            <p><i class="text-midi">Podstawowe umiejętności pływania</i></p>
                            <p><i class="text-midi">Oświadczenie o stanie zdrowia</i></p>
                        </div>
                        <div class="col-sm">
                            <p><i><i class="text-midi">Badania lekarskie nie są obowiązkowe.</i> Przed przystąpieniem do kursu uczestnik
                            wypełnia formularz medyczny. Pytania formularza dotyczą przypadłości zdrowotnych,
                            na które nurkowanie ma niekorzystny wpływ. Jeżeli uczestnik ma jakąkolwiek
                            wątpliwość na którekolwiek pytanie wymagane, jest przejście badań lekarskich
                            dopuszczających do nurkowania.</i></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm"></div> -->
            <div class="col-sm-1"></div>
        </div>
        <!-- uprawnienia -->
        <div class="card-body" style="margin-bottom: 3rem;">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm bg-main">
                    <div class="card-body text-center text-midi border-height-midi p-0" style="margin: 3rem;">
                        <i>Uzyskane uprawnienia</i>
                    </div>
                    <div class="card-body text-center text-low">
                        <i>
                            <p>Po ukończeniu szkolenia uczestnik otrzymuje honorowany na całym świecie certyfikat, który upoważnia do:</p>
                        </i>
                    </div>
                    <div class="card-body text-low">
                        <li>OWSD – nurkowania do 20m z partnerem tego samego stopnia lub wyższym</li>
                        <li>Junior OWSD w wieku 12-15 lat – nurkowanie dla dzieci do max 15m głębokości</li>
                        <li>Junior OWSD w wieku 10-12 lat – nurkowanie dla dzieci do max 12m głębokości</li>
                    </div>
                </div>
                <div class="col-sm bg-main">
                    <div class="col-sm" style="margin: 3rem;">
                        <div class="card fluid border-full-midi" style=" margin-bottom: 2rem;">
                            <img src="/static/images/windowDiver.jpg" alt="" style="max-width: 35rem;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <!-- rest of content -->
        <div class="row" style=" margin-bottom: 8rem;">
            <div class="col-sm-1"></div>

            <div class="col-sm">
                <div class="col-sm">
                    <div class="card fluid border-full-midi" style=" margin-bottom: 2rem;">
                        <img src="/static/images/spec.jpg" alt="" style="max-width: 35rem;">
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card-body  border-height-midi border-1 text-center p-0" style="margin: 5rem; margin-top: 1rem; margin-bottom: 0rem;">
                    <i class="text-midi">Struktura kursu</i>
                </div>
                <div class="card-body text-center text-low">
                    <i>Struktura kursu opiera się na zaliczeniach poszczególnych elementów szkolenia (teoria i praktyka). Nastawiona jest na umiejętności zdobywane przez kursantów.</i>
                </div>
            </div>

            <div class="col-sm">
                <div class="card-body bg-transparent border-height-midi border-1 text-center p-0" style="margin: 5rem; margin-top: 1rem; margin-bottom: 0rem;">
                    <i class="text-midi">Miejsca wykładów</i>
                </div>
                <div class="card-body text-center text-low">
                    <i>Bydgoszcz ul. Śląska 15 lokal 9
                        Domofon przy bramie nr 9. Z ulicy przechodzimy przez kamienicę na wprost przez
                        kolejną bramę bez domofonu. Wejście do Centrum Nurkowego znajduje się po
                        wyjściu na podwórze z lewej strony)</i>
                </div>
            </div>
        </div>

        <!-- course -->
        <div class="row">
            <div class="col-sm">
                <div class="card-body border-height-midi border-1 text-center p-0" style="margin: 5rem; margin-top: 0rem; margin-bottom: 0rem;">
                    <i class="text-midi">Szkolenie teoretyczne</i>
                </div>
                <div class="card-body text-center">
                    <i class="text-low">
                        <i>(10-12 godzin wykładów)</i>
                        <i>opiera się na spotkaniach w sali wykładowej, zawierających między innymi takie zagadnienia jak:</i>
                    </i>
                </div>
                <div class="card-body" style="margin-left: 0rem;">
                    <i class="text-low">
                        <li>podwodny świat i środowisko wodne,</li>
                        <li>sprzęt nurkowy,</li>
                        <li>adaptacja człowieka do środowiska wodnego,</li>
                        <li>zdrowie nurka,</li>
                        <li>porozumiewanie się pod wodą,</li>
                        <li>zasady nurkowania,</li>
                        <li>nurkowanie z partnerem (system „buddy”),</li>
                        <li>planowanie nurkowania, tabele dekompresyjne.</li>
                    </i>
                </div>
            </div>

            <div class="col-sm">
                <div class="card-body border-height-midi border-1 text-center p-0" style="margin: 5rem; margin-top: 0rem; margin-bottom: 0rem;">
                    <i class="text-midi">Szkolenie praktyczne basenopodobne</i>
                </div>
                <div class="card-body text-low">
                    <i>
                        <li>W czasie zajęć „basenopodobnych” w kompletnym sprzęcie nurkowym
                            wykonywany jest cykl ćwiczeń.</li>
                        <li>Podczas zajęć uczymy się wszystkich umiejętności niezbędnych przy każdym
                            nurkowaniu oraz sposobu rozwiązywania mogących potencjalnie wystąpić
                            sytuacji awaryjnych.</li>
                        <li>Wszystkie ćwiczenia oceniane są przez instruktora, który kwalifikuje kursanta
                            do następnych ćwiczeń.</li>
                        <p><b>Miejsce szkolenia:</b> Kamieniołom Piechcin około 50km od Bydgoszczy</p>
                    </i>
                </div>
            </div>

            <div class="col-sm">
                <div class="col-sm">
                    <div class="card fluid border-full-midi" style=" margin-bottom: 2rem;">
                        <img src="/static/images/intro.jpg" alt="" style="max-width: 35rem;">
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card-body border-height-midi border-1 text-center p-0" style="margin: 5rem; margin-top: 0rem; margin-bottom: 0rem;">
                    <i class="text-midi">Szkolenie wody otwarte</i>
                </div>
                <div class="card-body text-low">
                    <div class="container text-center text-midi"><i>4 nurkowania</i></div>
                    <i>
                        <li>W czasie 4 zajęć nurkowych adept wykonuje ćwiczenia, które prezentują
                            praktyczne zastosowanie zdobytych umiejętności oraz rozwijają ogólne
                            umiejętności nurkowe.</li>
                        <li>Po wykonaniu ćwiczeń, każde nurkowanie kończy się wycieczką podwodną.
                            Wszystkie ćwiczenia oceniane są przez instruktora, który kwalifikuje kursanta
                            do otrzymania certyfikatu nurkowego.</li>
                        <p><b>Miejsce szkolenia:</b> Kamieniołom Piechcin około 50km od Bydgoszczy</p>
                    </i>
                </div>
            </div>

            <!-- <div class="col-sm-2"></div> -->
        </div>

        <!-- uprawnienia -->
        <div class="card-body" style="margin-bottom: 3rem;">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm bg-main">
                    <div class="col-sm" style="margin: 3rem;">
                        <div class="card fluid border-full-midi" style=" margin-bottom: 2rem;">
                            <img src="/static/images/windowDiver.jpg" alt="" style="max-width: 35rem;">
                        </div>
                    </div>
                </div>
                <div class="col-sm bg-main">
                    <div class="card-body text-center text-midi border-height-midi p-0" style="margin: 3rem;">
                        <i>Informacje praktyczne</i>
                    </div>
                    <div class="card-body text-center text-low">
                        <i>
                            <p>Po ukończeniu szkolenia uczestnik otrzymuje honorowany na całym świecie certyfikat, który upoważnia do</p>
                            <p>Rozpoczęcie kursu następuje, gdy zbierze się 2 - 4 osobowa grupa chętnych.
                                Dla zapewnienia wysokiego poziomu bezpieczeństwa oraz jakości szkolenia, zajęcia
                                praktyczne w wodzie prowadzone, są w 2 osobowych grupach.
                                Czas trwania kursu, uzależniony jest od ustalonego z daną grupą harmonogramu
                                zajęć.</p>
                        </i>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm card bg-main border-full-midi">
                    <div class="card-body text-center text-midi border-height-midi p-0" style="margin-top: 2rem; margin-left: 5rem; margin-right: 5rem;">
                        <i>CENA KURSU 2000 PLN</i>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card-body text-center text-midi">
                                <i>zawiera:</i>
                            </div>
                            <div class="card-body text-low">
                                <p><i>1. Wypożyczenie kompletnego sprzętu nurkowego na czas trwania szkolenia:</i></p>
                                <li>maska, fajka, płetwy tzw. ABC</li>
                                <li>neoprenowy skafander nurkowy, kaptur, buty i rękawice</li>
                                <li>kamizelkę KRW z inflatorem niskiego ciśnienia</li>
                                <li>system ciężarków (balast)</li>
                                <li>butlę nurkową</li>
                                <li>automat oddechowy z manometrem wysokiego ciśnienia</li>
                                <li>alternatywne źródło powietrza (oktopus)</li>
                                <li>komputer nurkowy</li>
                            </div>
                            <div class="card-body text-low">
                                <p><i>2. Komplet materiałów szkoleniowych (na własność) tj:</i></p>
                                <li>podręcznik do nauki</li>
                                <li>książkę nurkowań (loog book)</li>
                                <li>etui na certyfikaty</li>
                                <li>Ubezpieczenie DAN na czas trwania szkolenia.</li>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body text-center text-midi">
                                <i>nie zawiera:</i>
                            </div>
                            <div class="card-body text-low">
                                <li>Dojazdów do miejsca nurkowego</li>
                                <li>Biletów wstępu za wejście i wjazd na akwen nurkowy, gdzie odbywają się zajęcia praktyczne –  (Kamieniołom Piechcin)</li>
                                <li>Zgodnie z cennikiem 45 PLN/kursant lub płetwonurek + 5 PLN /pojazd</li>
                                <li>Opłaty za wystawienie Certyfikatu w kwocie 250 PLN</li>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>


<!-- old content -->
        <div class="container">
            <div class="shadow">
                <div class="card bg-transparent text-light border-1 border-dark shadow p-3">
                    
                    <div class="container text-light" style="margin-top: 5%;">
                            <div class="shadow">
                                <div class="shadow p-3">
                                    
                                    
                                    <div class="shadow">
                                        <div class="shadow p-3 text-center">
                                            <h5><b>INNE</b></h5>
                                        </div>
                                    </div>
                                    <div class="container" style="margin-top: 5%; margin-bottom: 7%">
                                        <p>Po skończonym kursie każdy nurek powinien wykupić ubezpieczenie
                                            nurkowe. Polecamy i korzystamy z ubezpieczenia DAN, które działa na całym
                                            świecie. Aby przejść na stronę DAN EUROPE kliknij w obrazek.</p>
                                        <p><b>Potwierdzeniem wzięcia udziału w kursie nurkowym jest wpłata na
                                            rachunek konta bankowego:</b> Minimum 50% wartości ceny kursu, najpóźniej
                                            na 7 dni przed rozpoczęciem zajęć teoretycznych.
                                            Pozostałą wartość należy uregulować – dokonując również wpłaty na
                                            rachunek konta bankowego, najpóźniej w dniu rozpoczęcia kursu wysyłając
                                            potwierdzenie wpłaty oraz dane do Faktury VAT na adres e-mail:
                                            ryszard@proinel.pl
                                            W tytule przelewu prosimy dopisać: Kurs OWSD oraz Imię i Nazwisko
                                            kursanta.</p>
                                    </div>
                                    <div class="shadow" style="margin-bottom: 7%">
                                        <div class="shadow p-3 text-center">
                                            <p><i>PROINEL SUCHECKI ROKITA SPÓŁKA JAWNA</i></p>
                                            <p><i>03-842 WARSZAWA</i></p>
                                            <p><i>ul. Grochowska 301/305</i></p>
                                            <b><p style="margin:3%;"><i>Nr rachunku konta bankowego: 90 1140 2004 0000 3202 7677 4759</i></p></b>
                                        </div>
                                    </div>
                                    <div class="shadow">
                                        <div class="shadow p-3 text-center">
                                            <h5><b>INFORMACJE DODATKOWE</b></h5>
                                        </div>
                                    </div>
                                    <div class="container" style="margin-top: 5%; margin-bottom: 7%">
                                        <li><b>Uwaga 1</b> - W Centrum Nurkowym brak możliwości wpłat gotówkowych.</li>
                                        <li><b>Uwaga 2</b> - Siedem dni przed rozpoczęciem kursu nurkowego, prosimy o przesłanie drogą
                                            e-mail poniższych informacji wymaganych do odpowiedniego dobrania
                                            sprzętu nurkowego:</li>
                                        <div class="container p-2" style="margin-top: 3%; margin-left: 3%">
                                            <p>Imię i nazwisko: ...</p>
                                            <p>Wzrost (cm): ...</p>
                                            <p>Klatka piersiowa (obw. cm): ...</p>
                                            <p>Talia (obw, cm): ...</p>
                                            <p>Biodra (obw, cm): ...</p>
                                            <p>Głowa (obw, cm): ...</p>
                                            <p>szyja (obw, cm): ...</p>
                                            <p>Rozm. buta (np. 36, 41): ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="bg-main footer  small text-center text-midi fixed-bottom">
        <div class="card-body bg-transparent px-4 px-lg-5">
          <img src="/static/logos/diversflag.jpg" alt="" style="width: 2rem;">
          <i>&copy; ProinelDive 2022 ~ by D. J.</i>
          <img src="/static/logos/diversflag2.png" alt="" style="width: 2rem;">
        </div>
      </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>